.header__nav-bar {
  display: flex;
  padding: 0 16px;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  height: 60px;
  justify-content: space-between;
  font-weight: 500;
  color: rgb(42, 42, 42);
  line-height: 24px;

  a:hover {
    text-decoration: none;
    color: black;
  }

  .nav-bar-item {
    padding: 12px;

    .angleDown {
      margin-left: 4px;
    }
  }

  .label {
    font-weight: 700;
    font-size: 2.2em;
    color: black;
    text-align: bottom;
  }

  .header__left-nav-bar {
    display: flex;
    align-items: center;
  }

  .header__right-nav-bar {
    display: flex;
    align-items: center;

    .devider {
      width: 1px;
      height: 32px;
      position: relative;
    }

    .divider:before {
      top: 14px;
      position: absolute;
      border-left: 1px solid #ddd;
      height: 30px;
      padding-right: 0px;
      content: "";
    }
  }
}